Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Cors==6.0.2
Flask-JWT-Extended==4.7.4
Flask-Limiter==4.1.1
Flask-WTF==1.2.2
argon2-cffi==23.1.0
python-magic==0.4.27
python-dotenv==1.0.1
gunicorn==23.0.0
SQLAlchemy==2.0.36
Werkzeug==3.0.6
psycopg2-binary==2.9.9
